<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script
    src="https://kit.fontawesome.com/21ef82ed30.js"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/main.css">
    <style>
        #info-page-flexbox{
            display:flex;
            gap:75px;
        }
        #left{
            max-width:43ch;
        }
        h2{
            margin: 70px 0 20px;
        }
        #name-price{
            display:flex;
            justify-content:space-between;
            margin-top:30px;
        }
        @media(width<1000px){
            #info-page-flexbox{
                padding-left:5vw;
                padding-right:5vw;
            }
        }
        @media(width<700px){
            #info-page-flexbox{
                flex-direction:column;
            }
            #opentable{
                width:300px;
                margin:0 auto;
            }
        }
        @media(width<350px){
            #opentable{
                max-width:90vw;
            }
        }
    </style>
</head>
<body>
    <div id="wrapper">

    <%- include('./partials/header.ejs')%>

        <main>            
<div id='info-page-flexbox'>
    <div id="left">

        <span class='bold-text'>dinner hours</span><br>
        Tuesday - Saturday, 5 - 10pm<br>
        last reservation is at 8:30pm<br>
        closed Sunday and Monday<br><br>

        <span class='bold-text'>takeout and curbside pickup</span><br>
        Our dinner menu below is available for takeout and curbside 
        pickup. Please preorder if possible by phone (203.780.8925). 
        During special days we can only take a limited number of taleout 
        orders due to volume.<br><br>

        <span class='bold-text'>CHEF'S TASTING MENU</span> $98 / person<br>
        <span class='bold-text'>no substitutions or modifications<br>
        A minimum of 24 hours notice is required</span><br>
        six courses / reservations and full table participation required<br>
        optional wine pairing available $52 / person<br>
        available Tuesday through Thursday<br>
        Please let us know in advance about any food restrictions or allergies.<br>
        Tax and gratuity not included<br><br>

        <span style='color:white;
                     font-family:futura medium;
                     font-weight:900;
                     font-size:18px;
                     letter-spacing:2px;'>
        DINNER MENU
        </span>
        <br><br>

        <div style='text-align:center;
                    font-size:25px;'>
        appetizers
        </div>
        <br>
        <ul>
            <% for(let i=0;i<charcuterie.length;i++){ %>
                <span id='name-price'>
                    <li class='bold-text'><%= charcuterie[i].name %></li>
                    <li><%= charcuterie[i].price %></li>
                </span>
                <li style='width:calc(100% - 5ch)'><%= charcuterie[i].description %></li>
            <%}%>

            <% for(let i=0;i<appetizers.length;i++){ %>
                <span id='name-price'>
                    <li class='bold-text'><%= appetizers[i].name %></li>
                    <li><%= appetizers[i].price %></li>
                </span>
                <li style='width:calc(100% - 5ch)'><%= appetizers[i].description %></li>
            <%}%>

        </ul>

        <div style='text-align:center;
                    font-size:25px;
                    margin-top:150px;'>
        main courses
        </div>
        <br>
        <ul>
            <% for(let i=0;i<entrees.length;i++){ %>
                <span id='name-price'>
                    <li class='bold-text'><%= entrees[i].name %></li>
                    <li><%= entrees[i].price %></li>
                </span>
                <li style='width:calc(100% - 5ch)'><%= entrees[i].description %></li>
            <%}%>
        </ul>

        <div style='text-align:center;
                    font-size:25px;
                    margin-top:150px;'>
        sides
        </div>
        <br>
        <ul>
            <% for(let i=0;i<sides.length;i++){ %>
                <span id='name-price'>
                    <li class='bold-text'><%= sides[i].name %></li>
                    <li><%= sides[i].price %></li>
                </span>
                <li style='width:calc(100% - 5ch)'><%= sides[i].description %></li>
            <%}%>
        </ul>

        <div style='margin-top:150px;'>
        we do our best to keep this information accurate and up to date, 
        but because we make frequent adjustments, based on season and 
        availability, our menus are subject to change
        </div>

    </div>

    <div id='right'>

        <div id='opentable'>
            make a reservation<br>
            <span>POWERED BY OPENTABLE</span>

            <a target='_blank' href='http://www.opentable.com/rest_profile.aspx?rid=151186&restref=151186'><div id='find-a-table'>
                FIND A TABLE
            </div></a>
        </div>
    </div>
</div>
            <%- include('./partials/footer.ejs') %>
        </main>

    </div>
    <script src="/main.js"></script>
</body>
</html>