<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    
    <script
        src="https://kit.fontawesome.com/21ef82ed30.js"
        crossorigin="anonymous">
    </script>
    <style>
        *{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        @font-face{
            font-family: "futura light";
            src: url("../FuturaLight.otf") format("opentype");
        }        
        @font-face{
            font-family: "futura medium";
            src: url("../FuturaMedium.otf") format("opentype");
        }                
        #wrapper{
            width:100%;
            height:100vh;
            height:svh;
            display:grid;
            place-content:center;
        }
        #format-specials-menu{
            width:4.25in;
            height:5.5in;
            border:1px solid black;
            padding:<%= pagePadding %>px;
        }
        #flexbox{
            display:flex;
            flex-direction:column;
            height:100%;
        }
        #flexbox-bottom{
            margin-top:auto;
        }
        #legal{
            font-size:0.7rem;
        }
        .name{
            font-family:futura medium;
            font-weight:600;
        }
        .description{
            font-family:serif;
        }
        .price{
            font-family:serif;
            font-weight:900;
        }
        li{
            list-style-type:none;
            margin: <%= itemMargin %>px 0;
        }
        #format-options,#digits{
            display:flex;
        }
        #format-options,#digits{
            align-items:center;
        }
        #format-options{
            column-gap:20px;
        }
        #toggle-div{
            display:inline-flex;
            width:4.25in;
            justify-content:center;
        }
        #toggle-switch{
            cursor:pointer;
        }
        #tens,#ones{
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        #digits{
            visibility:hidden;
        }
        #up-ten,
        #down-ten,
        #up-one,
        #down-one{
            cursor:pointer;
        }
        button{
            padding:0.5em 0.75em;
            cursor:pointer;
            border-radius:15px;
        }
        button:hover{
            background:grey;
            color:white;
        }
    </style>
</head>
<body>
    <div id='wrapper'>
    <div>
        <div id='format-options'>
            <div>
                <select id='options' name='options'>
                    <option disabled selected value>Formatting Options...</option>
                    <option value='page-border'>Page Border</option>
                    <option value='item-margin'>Space Between Menu Items </option>
                </select>
            </div>

            <div id='digits'>
                <div id='tens'>
                    <span id='up-ten'>&#11205;</span>
                    <span id='tens-number'>0</span>
                    <span id='down-ten'>&#11206;</span>
                </div>
                <div id='ones'>
                    <span id='up-one'>&#11205;</span>
                    <span id='ones-number'>0</span>
                    <span id='down-one'>&#11206;</span>
                </div>
                <div>
                    px
                </div>
            </div>

            <div>
                <form>
                    <input type='hidden' id='show-legal-text-input' name='showLegalText' value=<%= showLegalText %>>
                    <input type='hidden' id='page-padding-input' name='pagePadding' value='<%= pagePadding %>'>
                    <input type='hidden' id='item-margin-input' name='itemMargin' value='<%= itemMargin %>'>
                    <button>
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        Save Changes
                    </button>
                </form>
            </div>
        </div><!--#format-options-->

        <div id='format-specials-menu'>
            <div id='flexbox'>
                <div id='flexbox-top'>
                    <h2>today's specials</h2><br>

                    <% if(appetizers.length){ %>
                        <% if(appetizers.length == 1){ %>
                            <h2>appetizer</h2>
                        <% }else{ %>
                            <h2>appetizers</h2>
                        <% } %>
                        <ul>
                            <% for(let i=0;i<appetizers.length;i++){ %>
                                <li>
                                    <span class='name'>
                                    <%= appetizers[i].name %><br></span>
                                    <span class='description'>
                                    <%= appetizers[i].description %></span> 
                                    <span class='price'>
                                    <%= appetizers[i].price %></span>    
                                </li>
                            <% } %>
                        </ul>
                    <% } %>

                    <% if(entrees.length){ %>
                        <% if(entrees.length == 1){ %>
                            <h2>entrée</h2>
                        <% }else{ %>
                            <h2>entrées</h2>
                        <% } %>
                        <ul>
                            <% for(let i=0;i<entrees.length;i++){ %>
                                <li>
                                    <span class='name'>
                                    <%= entrees[i].name %><br></span>
                                    <span class='description'>
                                    <%= entrees[i].description %></span> 
                                    <span class='price'>
                                    <%= entrees[i].price %></span>
                                </li>
                            <% } %>
                        </ul>
                    <% } %>

                    <% if(desserts.length){ %>
                        <% if(desserts.length == 1){ %>
                            <h2>dessert</h2>
                        <% }else{ %>
                            <h2>desserts</h2>
                        <% } %>
                        <ul>
                            <% for(let i=0;i<desserts.length;i++){ %>
                                <li>
                                    <span class='name'>
                                    <%= desserts[i].name %><br></span>
                                    <span class='description'>
                                    <%= desserts[i].description %></span> 
                                    <span class='price'>
                                    <%= desserts[i].price %></span>
                                </li>
                            <% } %>
                        </ul>
                    <% } %>
                </div><!--#flexbox-top-->
                <div id='flexbox-bottom'>
                    <div id='legal'>
                        Consumer advisory: consumption of undercooked meat, 
                        poultry, eggs, or seafood may increase the risk of 
                        food-borne illnesses. Please alert your server if 
                        you have special dietary requirements.
                    </div><!--#legal-->
                </div><!--#flexbox-bottom-->
            </div><!--#flexbox-->
        </div><!--#format-specials-menu-->
        <br>
        <div id='toggle-div'>
        Legal Text: HIDE&nbsp; 
        <i id='toggle-switch' class="fa-solid fa-toggle-on"></i>
         &nbsp;SHOW
        </div><!--#toggle-div-->
    </div>
    </div>

    <script>
        const toggleSwitch = document.querySelector('#toggle-switch')
        toggleSwitch.addEventListener('click',toggleToggle)
        const legal = document.querySelector('#legal')
        let showLegalTextInput = document.querySelector('#show-legal-text-input')
        let pagePaddingInput = document.querySelector('#page-padding-input')
        let itemMarginInput = document.querySelector('#item-margin-input')

        function toggleToggle(){
            if(toggleSwitch.classList.contains('fa-toggle-on')){
                toggleSwitch.classList.value = 'fa-solid fa-toggle-off'
                legal.style.display = 'none'
                showLegalText = false
                showLegalTextInput.value = false
            }else{
                toggleSwitch.classList.value = 'fa-solid fa-toggle-on'
                legal.style.display = 'block'
                showLegalText = true
                showLegalTextInput.value = true
            }
        }
        function showDigits(){
            digits.style.visibility = 'visible'
            if(options.value == 'page-border'){
                if (pageBorder < 10){
                    tensNumber.textContent = '0'
                }else{
                    tensNumber.textContent = pageBorder.toString().substring(0,1)
                }
                const tempString = pageBorder.toString()
                onesNumber.textContent = pageBorder.toString().substring(tempString.length-1)
            }else if(options.value == 'item-margin'){
                if (itemMargin < 10){
                    tensNumber.textContent = '0'
                }else{
                    tensNumber.textContent = itemMargin.toString().substring(0,1)
                }
                const tempString = itemMargin.toString()
                onesNumber.textContent = itemMargin.toString().substring(tempString.length-1)
            }
        }
        (function initializeToggle(){
            console.log(<%= showLegalText %>)
            if(!<%= showLegalText %>){
                if(toggleSwitch.classList.contains('fa-toggle-on')){
                    toggleSwitch.classList.value = 'fa-solid fa-toggle-off'
                    legal.style.display = 'none'
                }else{
                    toggleSwitch.classList.value = 'fa-solid fa-toggle-on'
                    legal.style.display = 'block'
                }
            }
            let showLegalText = <%= showLegalText %>
        })() 
        const formatSpecialsMenu = document.querySelector('#format-specials-menu')
        let pageBorder = <%= pagePadding %>
        let itemMargin = <%= itemMargin %>
        const digits = document.querySelector('#digits')
        const options = document.querySelector('#options')
        options.addEventListener('change', showDigits)
        const tensNumber = document.querySelector('#tens-number')
        const onesNumber = document.querySelector('#ones-number')
        const upTen = document.querySelector('#up-ten')
        const downTen = document.querySelector('#down-ten')
        const upOne = document.querySelector('#up-one')
        const downOne = document.querySelector('#down-one')
        const li = document.querySelectorAll('li')

        function up10(){
            if(options.value == 'page-border'){
                if(pageBorder < 90){
                    pageBorder += 10
                    tensNumber.textContent = pageBorder.toString().substring(0,1)                    
                    formatSpecialsMenu.style.padding = `${pageBorder}px`
                    pagePaddingInput.value = pageBorder
                }
            }else if(options.value == 'item-margin'){
                if(itemMargin < 90){
                    itemMargin += 10
                    itemMarginInput.value = itemMargin
                    tensNumber.textContent = itemMargin.toString().substring(0,1)
                    for(let i=0;i<li.length;i++){
                        li[i].style.margin = `${itemMargin}px 0`
                    }
                }
            }
        }
        function down10(){
            if(options.value == 'page-border'){
                if(pageBorder > 9)
                    pageBorder -= 10
                    formatSpecialsMenu.style.padding = `${pageBorder}px`
                    pagePaddingInput.value = pageBorder
                    if (pageBorder > 9){
                        tensNumber.textContent = pageBorder.toString().substring(0,1)                    
                    }else{
                        tensNumber.textContent = '0'                    
                    }
            }else if(options.value == 'item-margin'){
                if(itemMargin > 9){
                    itemMargin -= 10
                    itemMarginInput.value = itemMargin
                    if(itemMargin < 10){
                        tensNumber.textContent = '0'
                    }else{
                        tensNumber.textContent = itemMargin.toString().substring(0,1)
                    }
                    for(let i=0;i<li.length;i++){
                        li[i].style.margin = `${itemMargin}px 0`
                    }
                }
            }

        }
        function up1(){
            if(options.value == 'page-border'){
                if(pageBorder < 99){
                    pageBorder += 1
                    if (pageBorder > 9){
                        tensNumber.textContent = pageBorder.toString().substring(0,1)
                        onesNumber.textContent = pageBorder.toString().substring(1,2)                    
                    }else{
                        tensNumber.textContent = '0'
                        onesNumber.textContent = pageBorder                    
                    }
                    formatSpecialsMenu.style.padding = `${pageBorder}px`
                    pagePaddingInput.value = pageBorder
                }
            }else if(options.value == 'item-margin'){
                if(itemMargin < 99){
                    itemMargin ++
                    itemMarginInput.value = itemMargin
                    if(itemMargin < 10){
                        tensNumber.textContent = '0'
                        onesNumber.textContent = itemMargin
                    }else{
                        tensNumber.textContent = itemMargin.toString().substring(0,1)
                        onesNumber.textContent = itemMargin.toString().substring(1,2)
                    }
                    for(let i=0;i<li.length;i++){
                        li[i].style.margin = `${itemMargin}px 0`
                    }
                }
            }
        }
        function down1(){
            if(options.value == 'page-border'){
                if(pageBorder > 0){
                    pageBorder -= 1
                    if (pageBorder > 9){
                        tensNumber.textContent = pageBorder.toString().substring(0,1)                    
                    }else{
                        tensNumber.textContent = '0'                    
                    }
                    if (pageBorder > 9){
                        onesNumber.textContent = pageBorder.toString().substring(1,2)                    
                    }else{
                        onesNumber.textContent = pageBorder                    
                    }                    
                    formatSpecialsMenu.style.padding = `${pageBorder}px`
                    pagePaddingInput.value = pageBorder
                }
            }else if(options.value == 'item-margin'){
                if(itemMargin > 0){
                    itemMargin --
                    itemMarginInput.value = itemMargin
                    if(itemMargin < 10){
                        tensNumber.textContent = '0'
                        onesNumber.textContent = itemMargin
                    }else{
                        tensNumber.textContent = itemMargin.toString().substring(0,1) 
                        onesNumber.textContent = itemMargin.toString().substring(1,2)                         
                    }
                    for(let i=0;i<li.length;i++){
                        li[i].style.margin = `${itemMargin}px 0`
                    }
                }
            }            
        }
        upTen.addEventListener('click', up10)
        downTen.addEventListener('click', down10)
        upOne.addEventListener('click', up1)
        downOne.addEventListener('click', down1)
    </script>
</body>
</html>