<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
        src="https://kit.fontawesome.com/21ef82ed30.js"
        crossorigin="anonymous">
    </script>
    <style>
        @font-face{
            font-family: "futura light";
            src: url("../FuturaLight.otf") format("opentype");
        }        
        @font-face{
            font-family: "futura medium";
            src: url("../FuturaMedium.otf") format("opentype");
        }                    
        *{
            padding:0;
            margin:0;
            box-sizing:border-box;
        }
        html{
            font-size:14px;
        }
        body{
            font-family:futura light;
        }
        #wrapper{
            width:100%;
            min-height:100vh;
            min-height:100svh;
            display:grid;
            place-content:center;
        }
        #flexbox{
            display:flex;
            flex-direction:column;
            margin:20px 0;
        }
        #page1,#page2{
            width:13.5in;
            height:8in;
            display:flex;
        }
        #page1{
            width:16.875in;
        }
        #page2{
            width:16.875in;
        }
        #btg{
            width:10.125in;
            height:8in;
            column-count: 3;
            column-fill:auto;
            column-gap:0px;            
        }
        .reds-spain{
            width:6.75in;
            height:8in;
            column-count:2;
            column-fill:auto;
            column-gap:100px;    
        }
        #btg,
        .reds-spain,
        #reds-other,
        #sangria,
        #craft-drinks{
            z-index:-1;        
        }
        #reds-other{
            width:3.375in;
            height:8in;
        }
        #sangria,#craft-drinks{
            width:3.375in;
        }



        #btg,.reds-spain{
            column-gap:<%= padding*2 %>px;
        }
        #btg,
        .reds-spain,
        #reds-other,
        #sangria,
        #craft-drinks{
            padding:0 <%= padding %>px;
        }




        li{
            list-style-type: none;
            margin:9px 0;
        }
        h2,h3,.name{
            font-family:futura medium;
        }
        .name{
            font-weight:600;
        }
        h2,h3{
            padding:0.5rem 0;
        }
        h2{
            font-size:1.5rem;
        }
        h3{
            font-size:1rem;
        }
        #page1-wrapper,
        #page2-wrapper{
            width:14in;
            height:8.5in;
            border:1px solid black;
            overflow:hidden;
        }
        #page1-wrapper{
            margin-bottom:20px;
        }
        #page2{
            position:relative;
            right:3.375in;
        }
        .paper{
            width:14in;
            height:8.5in;
            border: 0.25in solid white;
            z-index:1000;
        }
        #outer-flexbox{
            display:flex;
            align-items:center;
            justify-content:center;
        }
        #controls{
            font-size:6rem;
            font-family:sans-serif;
            width:18ch;
            text-align:center;
        }
        #controls button{
            font-size:3rem;
            padding:0.5em 1em;
            border-radius:15px;
            cursor:pointer;
        }
        button:hover{
            background:grey;
            color:white;
        }
        #digits,#tens,#ones{
            display:flex;
            align-items:center;
        }
        #tens,#ones{
            flex-direction:column;
        }
        #up-ten,#down-ten,
        #up-one,#down-one{
            cursor:pointer;
        }
    </style>

</head>
<body>
    <div id='wrapper'>
        <div id='outer-flexbox'>
            <div id='flexbox'>
                <div id='page1-wrapper'>
                    <div class='paper'>
                        <div id='page1'>
                            <div id='btg'>
                                <h2 style='padding-top:0;padding-bottom:0;'>wine by the glass</h2>
                                <h3>Cava</h3>
                                <ul>
                                    <% for(let i=0;i<btgCava.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= btgCava[i].grapes %>,</span>
                                            <span class='name'><%= btgCava[i].name %>,</span>
                                            <span class='vintage'><%= btgCava[i].vintage %>,</span>
                                            <span class='description'><%= btgCava[i].description %></span>
                                            / 
                                            <span class='price'><%= btgCava[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>

                                <h3>White</h3>
                                <ul>
                                    <% for(let i=0;i<btgWhites.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= btgWhites[i].grapes %>,</span>
                                            <span class='name'><%= btgWhites[i].name %>,</span>
                                            <span class='vintage'><%= btgWhites[i].vintage %>,</span>
                                            <span class='description'><%= btgWhites[i].description %></span>
                                            / 
                                            <span class='price'><%= btgWhites[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>

                                <h3>Rosé</h3>
                                <ul>
                                    <% for(let i=0;i<btgRose.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= btgRose[i].grapes %>,</span>
                                            <span class='name'><%= btgRose[i].name %>,</span>
                                            <span class='vintage'><%= btgRose[i].vintage %>,</span>
                                            <span class='description'><%= btgRose[i].description %></span>
                                            / 
                                            <span class='price'><%= btgRose[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>

                                <h3>Red</h3>
                                <ul>
                                    <% for(let i=0;i<btgReds.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= btgReds[i].grapes %>,</span>
                                            <span class='name'><%= btgReds[i].name %>,</span>
                                            <span class='vintage'><%= btgReds[i].vintage %>,</span>
                                            <span class='description'><%= btgReds[i].description %></span>
                                            / 
                                            <span class='price'><%= btgReds[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>


                                <h2>cava & champagne</h2>
                                <ul>
                                    <% for(let i=0;i<cavaChampagne.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= cavaChampagne[i].grapes %>,</span>
                                            <span class='name'><%= cavaChampagne[i].name %>,</span>
                                            <span class='vintage'><%= cavaChampagne[i].vintage %>,</span>
                                            <span class='description'><%= cavaChampagne[i].description %></span>
                                            / 
                                            <span class='price'><%= cavaChampagne[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>

                                <h2>rosé</h2>
                                <ul>
                                    <% for(let i=0;i<rose.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= rose[i].grapes %>,</span>
                                            <span class='name'><%= rose[i].name %>,</span>
                                            <span class='vintage'><%= rose[i].vintage %>,</span>
                                            <span class='description'><%= rose[i].description %></span>
                                            / 
                                            <span class='price'><%= rose[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>

                                <h2 style='padding-bottom:0;'>white</h2>
                                <h3>Spain</h3>
                                <ul>
                                    <% for(let i=0;i<whiteSpain.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= whiteSpain[i].grapes %>,</span>
                                            <span class='name'><%= whiteSpain[i].name %>,</span>
                                            <span class='vintage'><%= whiteSpain[i].vintage %>,</span>
                                            <span class='description'><%= whiteSpain[i].description %></span>
                                            / 
                                            <span class='price'><%= whiteSpain[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>

                                <h3>France</h3>
                                <ul>
                                    <% for(let i=0;i<whiteFrance.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= whiteFrance[i].grapes %>,</span>
                                            <span class='name'><%= whiteFrance[i].name %>,</span>
                                            <span class='vintage'><%= whiteFrance[i].vintage %>,</span>
                                            <span class='description'><%= whiteFrance[i].description %></span>
                                            / 
                                            <span class='price'><%= whiteFrance[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>

                                <h3>Italy</h3>
                                <ul>
                                    <% for(let i=0;i<whiteItaly.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= whiteItaly[i].grapes %>,</span>
                                            <span class='name'><%= whiteItaly[i].name %>,</span>
                                            <span class='vintage'><%= whiteItaly[i].vintage %>,</span>
                                            <span class='description'><%= whiteItaly[i].description %></span>
                                            / 
                                            <span class='price'><%= whiteItaly[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>

                                <h3>Germany</h3>
                                <ul>
                                    <% for(let i=0;i<whiteGermany.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= whiteGermany[i].grapes %>,</span>
                                            <span class='name'><%= whiteGermany[i].name %>,</span>
                                            <span class='vintage'><%= whiteGermany[i].vintage %>,</span>
                                            <span class='description'><%= whiteGermany[i].description %></span>
                                            / 
                                            <span class='price'><%= whiteGermany[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>


                            </div><!--#btg-->

                            <div class='reds-spain'>
                                <h2 style='padding-top:0;padding-bottom:0;'>red</h2>
                                <h3>Spain</h3>
                                <ul>
                                    <% for(let i=0;i<redSpain.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= redSpain[i].grapes %>,</span>
                                            <span class='name'><%= redSpain[i].name %>,</span>
                                            <span class='vintage'><%= redSpain[i].vintage %>,</span>
                                            <span class='description'><%= redSpain[i].description %></span>
                                            / 
                                            <span class='price'><%= redSpain[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>


                            </div><!--.reds-spain-->


                        </div><!--#page1-->
                    </div><!--.paper-->
                    <hr>
                </div><!--#page1-wrapper-->

                <div id='page2-wrapper'>
                    <div class='paper'>
                        <div id='page2'>
                            <div class='reds-spain'>
                                <h2 style='padding-top:0;padding-bottom:0;'>red</h2>
                                <h3>Spain</h3>
                                <ul>
                                    <% for(let i=0;i<redSpain.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= redSpain[i].grapes %>,</span>
                                            <span class='name'><%= redSpain[i].name %>,</span>
                                            <span class='vintage'><%= redSpain[i].vintage %>,</span>
                                            <span class='description'><%= redSpain[i].description %></span>
                                            / 
                                            <span class='price'><%= redSpain[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>


                            </div><!--.reds-spain-->

                            <div id='reds-other'>
                                <h3 style='padding-top:0;'>France</h3>
                                <ul>
                                    <% for(let i=0;i<redFrance.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= redFrance[i].grapes %>,</span>
                                            <span class='name'><%= redFrance[i].name %>,</span>
                                            <span class='vintage'><%= redFrance[i].vintage %>,</span>
                                            <span class='description'><%= redFrance[i].description %></span>
                                            / 
                                            <span class='price'><%= redFrance[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>

                                <h3>Italy</h3>
                                <ul>
                                    <% for(let i=0;i<redItaly.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= redItaly[i].grapes %>,</span>
                                            <span class='name'><%= redItaly[i].name %>,</span>
                                            <span class='vintage'><%= redItaly[i].vintage %>,</span>
                                            <span class='description'><%= redItaly[i].description %></span>
                                            / 
                                            <span class='price'><%= redItaly[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>

                            </div><!--#reds-other-->

                            <div id='sangria'>
                                <h2 style='padding-top:0;'>sangria</h2>
                                <ul>
                                    <% for(let i=0;i<sangria.length;i++){ %>
                                        <li>
                                            <span class='name'><%= sangria[i].name %>,</span>
                                            <span class='description'><%= sangria[i].description %></span>
                                            / 
                                            <span class='price'><%= sangria[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>                    
                            
                                <h2>non-alcoholic</h2>
                                <ul>
                                    <% for(let i=0;i<nonAlcoholic.length;i++){ %>
                                        <li>
                                            <span class='name'><%= nonAlcoholic[i].name %>,</span>
                                            <span class='description'><%= nonAlcoholic[i].description %></span>
                                            / 
                                            <span class='price'><%= nonAlcoholic[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>                    

                                <h2 style='padding-bottom:0;'>beer</h2>
                                <h3>CAN</h3>
                                <ul>
                                    <% for(let i=0;i<beerCans.length;i++){ %>
                                        <li>
                                            <span class='name'><%= beerCans[i].name %>,</span>
                                            <span class='description'><%= beerCans[i].description %></span>
                                            / 
                                            <span class='price'><%= beerCans[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>                    

                                <h3>DRAFT</h3>
                                <ul>
                                    <% for(let i=0;i<beerDrafts.length;i++){ %>
                                        <li>
                                            <span class='name'><%= beerDrafts[i].name %>,</span>
                                            <span class='description'><%= beerDrafts[i].description %></span>
                                            / 
                                            <span class='price'><%= beerDrafts[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>                                        

                            </div><!--#sangria-->




                            <div id='craft-drinks'>
                                <h2 style='padding-top:0;'>craft drinks</h2>
                                <ul>
                                    <% for(let i=0;i<craftDrinks.length;i++){ %>
                                        <li>
                                            <span class='name'><%= craftDrinks[i].name %>,</span>
                                            <span class='description'><%= craftDrinks[i].description %></span>
                                            / 
                                            <span class='price'><%= craftDrinks[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>                    

                                <h2>Jerez, Sanlúcar de Barrameda</h2>
                                <ul>
                                    <% for(let i=0;i<btgSherries.length;i++){ %>
                                        <li>
                                            <span class='grapes'><%= btgSherries[i].grapes %>,</span>
                                            <span class='name'><%= btgSherries[i].name %>,</span>
                                            <span class='description'><%= btgSherries[i].description %></span>
                                            / 
                                            <span class='price'><%= btgSherries[i].price %></span>
                                        </li>
                                    <% } %>
                                </ul>                                        

                            </div><!--#craft-drinks-->

                        </div><!--#page2-->
                    </div><!--.paper-->
                </div><!--#page2-wrapper-->
                <hr>
            </div><!--#flexbox-->

            <div id='controls'>
                
            <div id='digits'>
                <div id='tens'>
                    <span id='up-ten'>&#11205;</span>
                    <span id='tens-number'>0</span>
                    <span id='down-ten'>&#11206;</span>
                </div>
                <div id='ones'>
                    <span id='up-one'>&#11205;</span>
                    <span id='ones-number'>0</span>
                    <span id='down-one'>&#11206;</span>
                </div>
                <div>
                    px Column Gap
                </div>
            </div>

            <form method='POST'
                  action='/format/wineList'>
                <input type='hidden' value='0' name='padding' id='wine-list-padding'>
                <button>
                    <i class="fa-solid fa-cloud-arrow-up"></i>
                    Save Changes
                </button>
            </form>

                <a href='/print/wineListFront'>
                    <button>
                        <i class="fa-solid fa-print"></i>
                        Print Front
                    </button>
                </a>
                <br>

                <a href='/print/wineListBack'>
                    <button>
                        <i class="fa-solid fa-print"></i>
                        Print Back
                    </button>
                </a>

            </div><!--#controls-->
        </div><!--#outer-flexbox-->
    </div><!--#wrapper-->

    <script>
        const tensNumber = document.querySelector('#tens-number')
        const onesNumber = document.querySelector('#ones-number')
        const up1arrow = document.querySelector('#up-one')
        const down1arrow = document.querySelector('#down-one')
        const up10arrow = document.querySelector('#up-ten')
        const down10arrow = document.querySelector('#down-ten')
        const btg = document.querySelector('#btg')
        const redsSpain = document.querySelectorAll('.reds-spain')
        const redsOther = document.querySelector('#reds-other')
        const sangria = document.querySelector('#sangria')
        const craftDrinks = document.querySelector('#craft-drinks')
        const wineListPadding = document.querySelector('#wine-list-padding')
        let columnGap = <%= padding %>
        

        function updatePadding(padding){
            btg.style.columnGap = `${padding*2}px`
            redsSpain.forEach(el=>{
                el.style.columnGap = `${padding*2}px`
            })
            btg.style.padding = `0 ${padding}px`
            redsOther.style.padding = `0 ${padding}px`
            sangria.style.padding = `0 ${padding}px`
            craftDrinks.style.padding = `0 ${padding}px`
            redsSpain.forEach(el=>{
                el.style.padding = `0 ${padding}px`
            })
            wineListPadding.value = padding
        }
        function upOne(){
            if(columnGap<99){
                columnGap++
                if(columnGap<10){
                    tensNumber.textContent = 0
                }else{
                    tensNumber.textContent = columnGap.toString().substring(0,1)
                }
                const tempString = columnGap.toString()
                onesNumber.textContent = columnGap.toString().substring(tempString.length-1)            
            }
            updatePadding(columnGap)
        }
        function downOne(){
            if(columnGap>0){
                columnGap--
                if(columnGap<10){
                    tensNumber.textContent = 0
                }else{
                    tensNumber.textContent = columnGap.toString().substring(0,1)
                }
                const tempString = columnGap.toString()
                onesNumber.textContent = columnGap.toString().substring(tempString.length-1)            
            }
            updatePadding(columnGap)
        }
        function upTen(){
            if(columnGap<90){
                columnGap += 10
                if(columnGap<10){
                    tensNumber.textContent = 0
                }else{
                    tensNumber.textContent = columnGap.toString().substring(0,1)
                }
                const tempString = columnGap.toString()
                onesNumber.textContent = columnGap.toString().substring(tempString.length-1)            
            }
            updatePadding(columnGap)
        }
        function downTen(){
            if(columnGap>9){
                columnGap -= 10
                if(columnGap<10){
                    tensNumber.textContent = 0
                }else{
                    tensNumber.textContent = columnGap.toString().substring(0,1)
                }
                const tempString = columnGap.toString()
                onesNumber.textContent = columnGap.toString().substring(tempString.length-1)            
            }
            updatePadding(columnGap)
        }
        (function initializeDisplay(){
                if(columnGap<10){
                    tensNumber.textContent = 0
                }else{
                    tensNumber.textContent = columnGap.toString().substring(0,1)
                }
                const tempString = columnGap.toString()
                onesNumber.textContent = columnGap.toString().substring(tempString.length-1)                        
        })()
        up1arrow.addEventListener('click',upOne)
        down1arrow.addEventListener('click',downOne)
        up10arrow.addEventListener('click',upTen)
        down10arrow.addEventListener('click',downTen)
    </script>
</body>
</html>